@import "../../../scss/index.scss";

.player {
    text-align: center;
    padding: 0 50px;
    button {
        font-size: 30px;
        margin: 0;
        margin-bottom: 0;
        width: 28px;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }

    }
}